table {
  background-color: #fff;
  padding: 1rem 16rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-top: 15px;
  vertical-align: middle;
  text-align: center;
}

form {
  margin-top: 1rem;
}

.card,
img {
  width: 10rem;
  height: 7rem;
  margin-right: 1rem;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

#imagem_produto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

#imagem_produto:hover {
  cursor: pointer;
}

.td-button-option button {
  margin-right: 10px;
}

h2 {
  margin: 1rem 0;
}
