.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 1rem;
}

#produto_nome,
#produto_descricao,
#formFile {
  width: 45rem;
}

#produto_descricao {
  height: 15rem;
}

#produto_estoque,
#produto_preco {
  width: 20rem;
}

.card,
#produto_imagem {
  width: 35rem;
  height: 25rem;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

#icone-imagem {
  margin: auto;
  color: rgb(197, 212, 245);
}
