<h2>Produto</h2>

<form (ngSubmit)="salvarProduto()" [formGroup]="produtoForm">
  <h3>Imagem</h3>

  <div class="mb-3">
    <input
      id="formFile"
      class="form-control"
      type="file"
      accept="image/png, image/jpeg"
      #arquivomatCardImageMedium
      #file
      (change)="carregarImagem(file.files)"
      [ngClass]="{
        'is-invalid': produtoForm.touched && !imagemValida(),
        'is-valid': produtoForm.touched && imagemValida()
      }"
    />
    <span class="text-danger" *ngIf="produtoForm.valid && !imagemValida()">
      *Selecione a imagem do produto
    </span>
  </div>

  <div class="card">
    <svg
      *ngIf="!produto.imagemBase64String"
      id="icone-imagem"
      xmlns="http://www.w3.org/2000/svg"
      width="180"
      height="180"
      fill="currentColor"
      class="bi bi-image"
      viewBox="0 0 16 16"
    >
      <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
      <path
        d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"
      />
    </svg>

    <img
      id="produto_imagem"
      *ngIf="produto.imagemBase64String"
      [src]="'data:image/png;base64,' + produto.imagemBase64String"
      class="card-img-top"
      alt="Imagem do produto"
    />
  </div>

  <h3>Informações Principais</h3>

  <div class="mb-3 form-check">
    <input
      [(ngModel)]="produto.status"
      class="form-check-input"
      type="checkbox"
      value=""
      id="status"
      formControlName="status"
    />
    <label class="form-check-label" for="produto_status">
      Status
    </label>
  </div>

  <div class="mb-3">
    <label for="produto_nome" class="form-label">
      Nome do Produto
    </label>

    <input
      [(ngModel)]="produto.nome"
      type="text"
      class="form-control"
      id="produto_nome"
      placeholder="Nome do Produto (requerido)"
      formControlName="nome"
      maxlength="150"
      [ngClass]="{
        'is-invalid':
          !nomeValido() &&
          (produtoForm.get('nome')?.dirty || produtoForm.get('nome')?.touched),
        'is-valid':
          nomeValido() &&
          (produtoForm.get('nome')?.dirty || produtoForm.get('nome')?.touched)
      }"
    />
    <span
      class="text-danger"
      *ngIf="
        !nomeValido() &&
        (produtoForm.get('nome')?.dirty || produtoForm.get('nome')?.touched)
      "
    >
      *Preencha o campo 'Nome do Produto' (máximo 150 caracteres)
    </span>
  </div>

  <div class="mb-3">
    <label for="produto_estoque" class="form-label">
      Estoque
    </label>

    <input
      [(ngModel)]="produto.estoque"
      type="number"
      class="form-control"
      id="produto_estoque"
      placeholder="Estoque (requerido)"
      formControlName="estoque"
      [ngClass]="{
        'is-invalid':
          !estoqueValido() &&
          (produtoForm.get('estoque')?.dirty ||
            produtoForm.get('estoque')?.touched),
        'is-valid':
          estoqueValido() &&
          (produtoForm.get('estoque')?.dirty ||
            produtoForm.get('estoque')?.touched)
      }"
    />
    <span
      class="text-danger"
      *ngIf="
        !estoqueValido() &&
        (produtoForm.get('estoque')?.dirty ||
          produtoForm.get('estoque')?.touched)
      "
    >
      *Preencha o campo 'Estoque'
    </span>
  </div>

  <div class="mb-3">
    <label for="produto_preco" class="form-label">
      Preço
    </label>

    <input
      [(ngModel)]="produto.preco"
      type="text"
      class="form-control"
      id="produto_preco"
      placeholder="R$ 0,00 (requerido)"
      formControlName="preco"
      currency
      [textMask]="{ mask: MASKS.currency.textMask }"
      [ngClass]="{
        'is-invalid':
          !precoValido() &&
          (produtoForm.get('preco')?.dirty ||
            produtoForm.get('preco')?.touched),
        'is-valid':
          precoValido() &&
          (produtoForm.get('preco')?.dirty || produtoForm.get('preco')?.touched)
      }"
    />
    <span
      class="text-danger"
      *ngIf="
        !precoValido() &&
        (produtoForm.get('preco')?.dirty || produtoForm.get('preco')?.touched)
      "
    >
      *Preencha o campo 'Preço'
    </span>
  </div>

  <h3>Informações Adicionais</h3>

  <div class="mb-3">
    <label for="produto_descricao" class="form-label">
      Descrição do Produto
    </label>

    <textarea
      [(ngModel)]="produto.descricao"
      id="produto_descricao"
      class="form-control"
      placeholder="Descrição do Produto (requerido)"
      maxlength="2000"
      formControlName="descricao"
      [ngClass]="{
        'is-invalid':
          !descricaoValido() &&
          (produtoForm.get('descricao')?.dirty ||
            produtoForm.get('descricao')?.touched),
        'is-valid':
          descricaoValido() &&
          (produtoForm.get('descricao')?.dirty ||
            produtoForm.get('descricao')?.touched)
      }"
    ></textarea>
    <span
      class="text-danger"
      *ngIf="
        !descricaoValido() &&
        (produtoForm.get('descricao')?.dirty ||
          produtoForm.get('descricao')?.touched)
      "
    >
      *Preencha o campo 'Descrição do Produto' (máximo 2000 caracteres)
    </span>
  </div>

  <hr />
  <div
    *ngIf="!produtoForm.valid || this.produto.imagemBase64String == ''"
    class="mb-3"
  >
    <span style="color: gray;">
      *Preencha todos os campos do formulário para salvar as informações.
    </span>
  </div>

  <div class="buttons">
    <button
      type="button"
      class="button btn-cancel"
      [routerLink]="['/admin/produtos']"
    >
      Cancelar
    </button>
    <button
      type="submit"
      class="button btn-save"
      [disabled]="!produtoForm.valid || this.produto.imagemBase64String === ''"
    >
      Salvar Informações
    </button>
  </div>
</form>
